server:
  port: 8002
spring:
  application:
    name: cloud-user-info-service
  datasource:
    # 当前数据源操作类型
    type: com.alibaba.druid.pool.DruidDataSource
    # mysql驱动类
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://1.15.156.161:3306/cluboat?serverTimezone=GMT%2B8&characterEncoding=utf-8&useSSL=false
    username: CluBoat
    password: bf2mZnLFRpyy2JGE
  cloud:
    loadbalancer:
      enabled: true
    nacos:
      discovery:
        ip: 49.235.115.50
        server-addr: 1.15.156.161:8848

logging:
  pattern:
    console: "[%thread] %-5level %logger{36} - %msg%n"



