<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://1.15.156.161:3306</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.username">CluBoat</property>
      <property name="connection.password">bf2mZnLFRpyy2JGE</property>
      <mapping class="com.cluboat.springcloud.entity.apply.ActivityApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.apply.AdminApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.apply.BudgetApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.apply.ClubBuildApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.apply.ClubCancelApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.apply.JoinApplyEntity"/>
      <mapping class="com.cluboat.springcloud.entity.ClubEntity"/>
      <mapping class="com.cluboat.springcloud.entity.ClubAdminEntity"/>
      <mapping class="com.cluboat.springcloud.entity.PostEntity"/>
      <mapping class="com.cluboat.springcloud.entity.PubnotEntity"/>
      <mapping class="com.cluboat.springcloud.entity.UserEntity"/>
      <mapping class="com.cluboat.springcloud.entity.UserInfoEntity"/>
      <mapping class="com.cluboat.springcloud.entity.NotificationEntity"/>
      <mapping class="com.cluboat.springcloud.entity.UserClubEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>